{% extends "layout.html" %}
{% block title %} Character Creator {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Character Creator</h1>
  <div class="container">
    <div class="row">
        <div class="col">
            <h2>Character</h2>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Overview</h3>
                    <div id="name">Name</div>
                    <button  hx-get="/getName" hx-target="#name"type="button" class="btn btn-primary">Get Name</button>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>Options</h2>
        </div>
    </div>
  </div>
{% endblock %}